body{
    width: 100vw;
    height: 100vh;
    background-image: url("flight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}
ol {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgoldenrod;
    font-family: Times New Roman;
}
li {
    float: left;
}
.a{
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}
li a:hover {
    background-color: darkgoldenrod;
    background-image: url("download.jpg");
}
h2{
    text-align: center
}
